*.ll
*.out
*.bc
*.s
*.dSYM
/builtin/exports.json
/coverage
/examples/*.actual.*
/lib/*/Cargo.lock
/lib/*/target
/lib/shiika/parser.rb
/lib/shiika/parser.ry
/rusty-tags.vi
/target
/tests/tmp.*
/tests/data/hello.txt
.DS_Store