name: CI

on:
  push:
      branches:
        - 'main'
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  # Run unit tests
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Set up the Linux env
        if: runner.os == 'Linux'
        run: |
          set -eux
          sudo apt install -y libgc-dev libtinfo5

      - name: Cache LLVM and Clang on Linux
        id: cache-llvm
        if: runner.os == 'Linux'
        uses: actions/cache@v4
        with:
          path: |
            C:/Program Files/LLVM
            ./llvm
          key: llvm-18.0
      - name: Install LLVM and Clang on Linux
        if: runner.os == 'Linux'
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "18.1"
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}
      - name: Set up LLVM and Clang on macOS
        if: runner.os == 'macOS'
        run: |
          brew install llvm@18
          echo "/usr/local/opt/llvm@18/bin" >> $GITHUB_PATH

      - name: Output versions
        run: |
          set -eux
          rustc --version
          cargo --version
          clang --version

      - name: Build and test
        run: |
          set -eux
          mkdir ~/.shiika
          export SHIIKA_WORK=~/.shiika
          export SHIIKA_ROOT=.
          export RUST_BACKTRACE=1
          env -- cargo run --bin exp_shiika -- build packages/core
          env -- rake async_integration_test

          cd lib/skc_rustlib; cargo build; cd ../../
          env -- cargo run -- build-corelib
          env -- cargo test
          env -- bash release_test.sh

  # Run cargo fmt --all -- --check
  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Run cargo fmt
        run: |
          cargo fmt --all -- --check
